[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.8.3"
pre-commit = "~=2.6.0"

[packages]
arrow = "~=0.16.0"
discord-py = "~=1.5.0"
coloredlogs = "~=14.0"
colorama = {version = "~=0.4.3",sys_platform = "== 'win32'"}
fuzzywuzzy = "~=0.18.0"
humanize = "~=3.0.0"
python-dateutil = "~=2.8.0"

[requires]
python_version = "3.8"

[scripts]
start = "python -m snek"
lint = "python -m flake8"
precommit = "pre-commit install"
